@import "colors";

.page__subscribe {}
.subscribe {
  position: relative;
  padding: 0 0 20px 0;

  &:before {
    width: 100%;
    height: 77px;

    left: 0;
    content: "";
    background: $dark-background-color;

    position: absolute;
    bottom: 0;
  }
  .subscribe__container {

    .subscribe__body {
      @media (min-width: 1070px) {
        & {
          margin: 0 30px;
        }
      }
      @media (min-width: 810px) {
        & {
          display: flex;
          justify-content: space-between;

          padding: 20px 25px;
          margin: 0 -15px;
        }
      }
      @media (max-width: 810px) {
        & {
          padding: 20px 25px;
          margin: 0 -15px;
        }
      }


      padding: 30px 50px;

      position: relative;
      z-index: 2;

      align-items: center;
      background: $secondary-color2;

      .subscribe__title {
        @media (min-width: 810px) {
          max-width: 266px;
        }
        @media (max-width: 810px) {
          margin: 0 0 20px 0;
        }


        flex: 0 1 50%;

        font-size: 133%;
        font-weight: 700;

        line-height: 32px;
        letter-spacing: 0.1px;

        color: $light-text-color;
      }
      .subscribe__form {
        display: flex;
        align-items: center;
        flex: 0 1 50%;

        .subscribe__input {
          @media (max-width: 810px) {
            & {
              padding: 0 15px;
            }
          }
          width: 100%;
          min-height: 58px;
          padding: 0 22px;

          color: $second-text-color;
          background: #f9f9f9;

          border: 1px solid #e6e6e6;
          border-right: 0;
          border-radius: 5px 0 0 5px;
          flex: 1 1 auto;

          &:focus {
            color: #000;
          }
        }

        .subscribe__button {
          @media (max-width: 810px) {
            & {
              padding: 0 15px;
            }
          }

          &:hover {
            cursor: pointer;
            color: $light-text-color;
            background: #aa5330;
          }

          min-height: 58px;
          padding: 0 22px;

          background: $primary-color;
          border: 1px solid #e6e6e6;
          color: $light-text-color;
          border-radius: 0 5px 5px 0;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
  }
}